*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    font-family: Dotum,'돋음', Helvetica;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.inline-block{
    display: inline-block;
}
#fixed{
    position: fixed;
    right: 50px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50px;
}
.blind{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}
header{
    height: 170px;
}
.center-align {
    margin :0 auto;
    width: 1080px;
}
.center-align-relative{
    position:relative;
}
#header-top{
    float: right;
    margin-top: 8px;
}
#header-top span{
    color: #aaaa;
    letter-spacing: -1px;
    font-size: 11px;
    line-height:22px;
}
#header-search{
    clear:both;
    padding-top:45px;
}
#header-search  h1 {
    width: 240px;
    height: 53px;
    display: inline-block;
    /* background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png);
    background-position: 0 -162px;
    background-repeat: no-repeat; */
    background: url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png) 0 -162px no-repeat;
    background-size: 480px 430px;
}
#header-search span {
    display:none;
}
#header-search a{
    text-decoration: none; 
    vertical-align: middle;
}
#header-search h2{
    display: none; 
}
#header-search fieldset{
    margin-left: 20px;
    border: 2px solid #03cf5d;
    padding: 12px 0 12px 10px;
    width: 521px;
    height: 49px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    right: -51px;
    top: -2px;
}
#header-search fieldset input{
    border: none;
    padding: 0;
    outline: none;
    vertical-align: top;
    width: 405px;
    height: 23px;
}
#header-search fieldset button{
    width: 49px;
    height: 47px;
    border: none;
    padding: 0;
    position:absolute;
    right:0;
    top:0;
} 
#search-image{
    background-color :#03cf5d;
    background-image : url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png);
    background-position: -837px -46px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display:inline-block;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡnavㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

nav{
    height:46px;
    border-top: 1px solid #d1d8e4;
    border-bottom: 1px solid #d1d8e4;
}
nav ul{
    display:inline-block;
    margin:0;
    padding: 16px 0 0 4px;
    list-style: none;
} 
#nav-menu li{
    display:inline-block;
}

#nav-menu li span:first-child{
    height: 16px;
    display: inline-block;
    background-image : url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png);
    background-position: -849px -158px;
    background-repeat: no-repeat;
    margin-left: 14px;
}
#nav-menu li:first-child span:first-child {
    width: 35px;
}#nav-menu li:nth-child(2) span:first-child {
    width: 35px;
}#nav-menu li:nth-child(3) span:first-child {
    width: 35px;
}#nav-menu li:nth-child(4) span:first-child {
    width: 35px;
}#nav-menu li:nth-child(5) span:first-child {
    width: 35px;
}#nav-menu li:nth-child(6) span:first-child {
    width: 35px;
}#nav-menu li:nth-child(7) span:first-child {
    width: 35px;
}

.nav-divider{
    float:left;
    margin: 10px 16px 0;
    width: 1px;
    height: 14px;
    background: #ebeef3;
}

#search-ranking{
    position: absolute;
    top: 14px;
    right: 0;
    width: 198px;
    height: 20px;
}

#search-ranking ul{
    display: none;
    list-style: none;
    padding: 17px ;
    margin: 0;
    width: 332px;
    height: 334px;
    border: 1xp solid #aaa;
    background-color: white;
    position: absolute;
    top: -15px;
    right: 0;
}
#search-ranking:hover ul{
    display: inline-block;
}

#rank-number{
    margin-top: -9px;
    color: #00ab33;
    font-size: 16px;
}
main{
    background-color: #f2f4f7;
    display:inline-block;
    width:100%;
}
#main-centered{
    padding: 8px 10px;
    width:1100px;
}
#main-first-block{
    display:inline-block;
    width:100%;
    vertical-align: top;
}
#main-ad{
    display:inline-block;
    width: 740px;
    height: 120px;
    background: #555;
    margin-right: 8px;
    margin-bottom: 8px;
    float: left;
}
#main-login{
    display:inline-block;
    width: 332px;
    height: 120px;
    vertical-align: top;
    background: white;
    margin-bottom: 8px;
    float:left;
}
#main-second-block{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 8px;
}
#main-ytn h3, #main-newsstand h3{
    font-size: 14px;
    font-family:"돋움";
    /* line-height: 35px; */
    padding-top: 15px;
    padding-left: 15px;
}
#main-second-block .float-left:first-child{
    width: 740px;
    margin-right: 8px;
}
#main-second-block .float-left:last-child{
    width: 332px;
    vertical-align: top;
    
}
.float-left{
    float: left;
}
#main-ytn{
    display:inline-block;
    width: 740px;
    height: 46px;
    background: white;
    margin-right: 8px;
    margin-bottom: 8px;
}
#main-ytn h3,
#main-ytn ol{  
    display: inline-block;
}
#main-newsstand{
    display:inline-block;
    width: 740px;
    height: 246px;
    background: white;
    margin-right: 8px;
    /* margin-bottom: 8px; */
    vertical-align: top;
}
#main-newsstand h3{
    height: 45px;
    border-bottom: 1px solid #ebeef3;
}
#main-newsstand ul{
    margin: 0;
    padding: 0;
    display:inline-block;
    list-style: none;
    /* margin: 10px 35px 0 30px; */
}
#main-newsstand li{
    float:left;
    /* width: 123px; */
    calc(100% / 6);
    height: 67px;
    border-bottom: 1px solid #ebeef3;
    border-right: 1px solid #ebeef3;
    text-align: center;
}
#main-newsstand li img{
    width: 122px;
    height: 37px;
    position:relative;
    top: 50%;
    transform: translateY(-50%);
}
#main-weather{
    display:inline-block;
    width: 332px;
    height: 142px;
    background: white;
    margin-bottom: 8px;
    vertical-align: top;
}

#main-second-ad{
    display:inline-block;
    width: 332px;
    height: 150px;
    /* margin-bottom: 8px; */
    background: white;
    vertical-align: top;
}
#main-category{
    display:inline-block;
    width: 740px;
    height: 882px;
    background: white;
    margin-right: 8px;
    margin-bottom: 8px;
    float: left;
    vertical-align: top;
}
#main-shopping{
    display:inline-block;
    width: 330px;
    height: 882px;
    background: white;
    margin-bottom: 8px;
    float: left;
    vertical-align: top;
}
#main-shopping iframe{
    width: 100%;
    height: 100%;

}
#main-third-block,
#main-fourth-block{
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
#main-event{
    display:inline-block;
    width:740px;
    height:130px;
    background: white;
    vertical-align: top;
    margin-right: 8px;
    float: left;
}
#main-third-ad{
    display:inline-block;
    width: 330px;
    height: 130px;
    background: white;
    float: left;
}
#main-category-top{
    display: inline-block;
    width: 100%;
}
#subject-list,
#subject-all,
#subject-prev,
#subject-next{
    float: left;
    height: 45px;
}
#subjetc-list{
    width: 603px;
    position: relative;
}
#subject-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    height: 45px;
    width: 1000px;
}
#subject-list li{
    float: left;
    margin-right: 10px;
    padding: 14px 7px 0;
    font-weight: 700;
    font-size: 14px;
}
#subject-list li.highlight{
    border-bottom: 3px solid #00c73c;
    color: #00b336;
}
#subject-all, #subject-prev, #subject-next{
    position: relative;
    width:45px;
    background: white;
    border: none;
    border-left: 1px solid #ebeef3;
    background: white;
}
#subject-all span:last-child{
    position: absolute;
    top: 15px;
    left: 12px;
    width: 20px;
    height: 14px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png);
    background-repeat: no-repeat;
    background-position: -218px -257px;
}
#subject-prev span:last-child{
    position: absolute;
    top: 15px;
    left: 16px;
    width: 8px;
    height: 16px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png);
    background-repeat: no-repeat;
    background-position: -320px 0;
}
#subject-next span:last-child{
    position: absolute;
    top: 15px;
    left: 16px;
    width: 8px;
    height: 16px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_947f65.png);
    background-repeat: no-repeat;
    background-position: -320px -52px;
}
.opacity{
    opacity: 0.5;
    background: white;
}
.opacity.left{
    position: absolute;
    left: 0;
    top: 0;
    height: 45px;
    width: 15px;
}
.opacity.right{
    position: absolute;
    left: 0;
    top: 0;
    height: 45px;
    width: 15px;
}